@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  leading-trim: both;
  text-edge: cap;
}


@media (max-width: 768px) {
  .footer-container {
      height: 100vh;
  }
}



.update p {
  @apply whitespace-pre-line text-xxs  md:text-xs mb-5
 
}

.update strong {
  font-weight: 500;
}




html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

@media only screen and (min-width:767px) {
  .lenis.lenis-stopped {
    overflow: hidden;
  }
}


.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



.fade-in-section {
  transition: background-color 0.3s ease;
  transition-delay: 100ms;
}

.selected-projects-image-container {
  overflow: hidden; /* Ensures the zoomed image does not overflow the container */
}

.selected-projects-image {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  height: 100%;
}

.selected-projects-image-link:hover .selected-projects-image {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}


/** @format */
* {
  margin: 0;
  padding: 0;
}
body,
html {
  overscroll-behavior: none;
  min-height: 100vh;
  /* overflow: hidden; */
}

.menulink {
  line-height: 1 !important;
}

#glass.show {
  opacity: 100;
}

#menu.open {
  transform: translateX(0);
}

.custom-full-height {
  height: calc(100vh - 115px);
}

.vimeo {
  max-width: unset;
  aspect-ratio: 16/9;
  object-fit: cover;
}



.fade-in {
  opacity: 0;
}

.visible {
  transition: opacity 300ms ease-in;

  opacity: 1;
}


@media only screen and (min-width: 767px) {

  .project-details {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .project--active .project-details {
    opacity: 1;
    transition-delay: 0.8s;
  }

}



/* Reviews swiper */
.reviews-swiper .swiper-pagination,
.projects-swiper .swiper-pagination {
  text-align: start;
}

.reviews-swiper .swiper-pagination .swiper-pagination-bullet-active,
.projects-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

/* Projects swiper pagination position */
.projects-swiper .swiper-pagination {
  @apply absolute !left-4 !top-4;
}

/* Projects swiper fade in */
.projects-swiper .swiper-slide {
  @apply !opacity-0;
}

.projects-swiper .swiper-slide-visible {
  @apply !opacity-100;
}


.homeboy .swiper-pagination {
  position: absolute;
  bottom: 15px !important;
  width: 100px !important;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}

.homeboy .swiper-pagination-bullet-active {
  background: #000 !important;
}

@media only screen and (max-width: 1000px) {
  .homeboy .swiper-pagination {
   display: none;
}
}

.homeboy .swiper-button-next,
.homeboy .swiper-button-prev {
 position: absolute;
 top: 0;
 height: 96%;
 width: 20%;
opacity: 0;
}


.feature-pill {
  @apply bg-[#F5F5F5] flex items-center rounded-[5px] px-[10px] h-[25px] md:h-[30px] text-sm-xxs md:text-xxs w-fit
}